html {
  font-family: Questrial;
}

.cont {
  max-width: 1920px;
  margin: 0 auto;
  min-height: 50px;
  padding: 0 30px;
}

.main-cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.nav {
  margin-top: 0;
}

.nav-menu {
  display: flex;
  background-color: rgb(255, 145, 85);
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 35px 35px 35px 55px;
}

.navi-link {
  padding-right: 20px;
  font-size: 20px;
  cursor: pointer;
  transition: 0.15s;
  color: white;
  text-decoration: none;
}

.navi-link:hover {
  color: black;
}


.profile {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 35px;
  padding-left: 30px;
}

.ava {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  filter: grayscale(0.2) brightness(1.05);
  transition: .3s;
}

.name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}

.h1-name {
  position: relative;
  padding: 0;
  margin-bottom: 20px;
  color: #442323;
  font-size: 32px;
  font-weight: 600;
  letter-spacing: 5px;
  line-height: 50px;
  word-spacing: 3px;
}

.h2-profession {
  position: relative;
  padding: 0;
  margin-bottom: 20px;
}

.sec{
  width: calc(50% - 20px);
  align-items: center;
  padding: 10px;
  padding-bottom: 35px;
  border-bottom: 1px solid #442323;
}

.sec-title{
color: #442323;
margin-left: calc(10%);
}

.sec-thing{
  font-size: 20px;
  line-height: 30px;
  list-style: none;
  margin-left: 0;
}

span{
  color: rgb(255, 145, 85);
}

.a-link{
text-decoration: none;
color: rgb(255, 145, 85);
transition: 0.15s;
}

.a-link:hover{
  color: black;
}

.paragraph1{
  text-align: justify;
  width: calc(80%);
  margin-left: calc(5%);
  font-size: 20px;
  line-height: 30px;
}

pre{
  font-size: 20px;
}

.paragraph2{
  margin-left: calc(5%);
}

.sec2{
  width: calc(50% - 20px);
  align-items: center;
  padding: 10px;
  padding-bottom: 35px;
}

.footer{
  background-color: rgb(255, 145, 85);
  margin: 0px;
}

.footer-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sec3 {
  width: 50%;
  padding: 10px;
  font-size: 20px;
}

.copy {
  color: white;

}

.a-link2 {
  text-decoration: none;
  color: white;
  transition: 0.15s;
}

.a-link2:hover {
  color: black;
}

.logo {
  width: 100px;
  transition: 0.15s;
}

.logo:hover{
  opacity: 80%;
}

/* Media Queries */

@media (max-width: 768px) {
  .nav-menu {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .nav-thing {
    padding: 10px;
  }
  
  .profile {
    flex-direction: column;
    align-items: center;
  }
  
  .ava {
    width: 150px;
    height: 150px;
  }
  
  .h1-name {
    font-size: 24px;
    line-height: 40px;
  }
  
  .h2-profession {
    font-size: 18px;
    margin-bottom: 10px;
  }
}
